/* Stili per il menu */
.navbar {
  display: flex;
  align-items: center;
  background-color: #ffffff; /* Aggiungi il colore di sfondo desiderato */
  padding: 10px;
}

.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 5px;
}

.menu-list li {
  display: inline-block;
  margin-right: 0px; /* Regola la distanza tra il menu e il logo */
}

.submenu {
  display: none;
  position: absolute;
  background-color: #ffffff; /* Aggiungi il colore di sfondo desiderato per il menu a discesa */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.menu-list li:hover .submenu {
  display: block;
}

/* Stili per gli elementi del menu */
.menu-list a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 20px 30px;
  font-size: 17px;
}

.menu-list li li a {
  padding: 10px 20px;
}

/* Stili per il logo */
.logo {
  max-width: 100px; /* Regola la larghezza massima del logo */
  margin-right: auto;
}

.center-bar {
  justify-items: center;
  display: flex;  
}


/* Stili per la barra di ricerca */
.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 10px;
  margin-right: 10px;
  width: 500px;
}

.search-bar button {
  padding: 10px;
  background-color: #4f3c8f; /* Aggiungi il colore desiderato per il bottone di ricerca */
  color: #ffffff; /* Aggiungi il colore desiderato per il testo del bottone di ricerca */
  border: none;
  cursor: pointer;
}

/* Stili per il login */
.right-login {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.login-button {
  padding: 10px;
  background-color: #4f3c8f; /* Aggiungi il colore desiderato per il bottone di login/logout */
  color: #ffffff; /* Aggiungi il colore desiderato per il testo del bottone di login/logout */
  border: none;
  cursor: pointer;
}



