<header>
  <div class="navbar">
    <div class="left-menu">
      <!-- Contenuto del menu a sinistra -->
      <button (click)="toggleSidebar()">Menu</button>
      <img src="path/to/logo.png" alt="Logo" class="logo">
      <div class="sidebar" *ngIf="isSidebarOpen">
        <ul>
          <li><a routerLink="/area_personale">Area Personale</a></li>
          <li><a routerLink="/primi_piatti">Primi Piatti</a></li>
          <li><a routerLink="/secondi_piatti">Secondi Piatti</a></li>
          <li><a routerLink="/contorni">Contorni</a></li>
          <li><a routerLink="/dolci">Dolci</a></li>
        </ul>
      </div>
      
    </div>
    
    <div class="center-bar">
      <!-- Contenuto della barra centrale -->
      
      <div class="search-bar">
        <input type="text" placeholder="Cerca...">
        <button type="button">Cerca</button>
      </div>
    </div>
    
    <div class="right-login">
      <!-- Contenuto del login a destra -->
      <button class="login-button">Login</button>
    </div>
  </div>
</header>

