
<footer>
    <div class="container-fluid">
      <div class="contenitore">
      <div class="row">
        <div class="col-sm-12">
          <h3>Contatti</h3>
          <div class="contact-info">
              <p><a href="/chi_siamo">Chi Siamo?</a></p>
              <p>Email: <a href="mailto:teamrossonduja@libero.it">teamrossonduja&#64;libero.it</a></p>
              <p>Telefono: <a href="tel:+393735341721">+39 373 534 1721</a></p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </footer>
  
