<div class="container">
    <div class="titoloEButton">
        <h2><b>{{ ricetta?.nomeRicetta }}</b> </h2> 
        <button id="button" (click)="salvaRicetta()">{{bottone}}</button>
    </div>
    <h5 id="tag"><i>#{{ ricetta?.tag1 }}</i>, <i>#{{ ricetta?.tag2 }}</i></h5>
    <div class="card">
        <img id="immagine-base64" src="data:image/jpeg;base64,{{ ricetta?.pathImmagine }}" alt="{{ ricetta?.nomeRicetta }}">
        <div class="container">
            <div class="destra">
                
                <p><b>Autore: </b>{{ ricetta?.autore }}</p>
                <p><b>Categoria: </b>{{ ricetta?.categoria }}</p>
                <p><b>Numero di persone: </b>{{ ricetta?.numeroPersone }}</p>
                <p><b>Tempo: </b>{{ ricetta?.tempoPreparazione }}</p>
                <p><b>Difficoltà: </b>{{ ricetta?.difficolta }}</p>
                <p><b>Costo: </b>{{ ricetta?.costo }}</p>
                
            </div>
                <p id="descr"><b>Descrizione: </b>{{ ricetta?.descrizione }}</p>
                <div id="ingr"><pre><b>Ingredienti: </b><br>{{ ricetta?.ingredienti }}</pre></div>
                <div id="proc"><p><b>Procedimento: </b><br>{{ ricetta?.procedimento }}</p></div><br>
            
            <div class="api">
                <iframe id="youtube" width="560" height="315" [attr.src]="youtubeUrl" frameborder="0" allowfullscreen></iframe> <br>
                <iframe id="spotify" [attr.src]="spotifyUrl" width="600" height="400" frameborder="0" allowtransparency="true" allow="encrypted-media" loading="lazy"></iframe> <br>
            </div>
            <div class="commenti">
                <p><b>{{commenti}}</b></p>
                <ul>
                <li *ngFor="let commento of ricetta?.commenti">
                  <p><b><i>{{ commento.username }}</i></b> dice: {{ commento.contenuto }}</p>
                </li>
                </ul>
            </div>
        </div>
    </div> 
</div>
