#immagine-base64 {
    width: 400px;
    height: auto;
    float: left;
    margin: 10px;
    border-radius: 5px;
}

#descr {
    float: left;
}

#proc {
    float: left;
}

pre {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background-color: inherit;
    border: none;
    white-space: pre-wrap;
}