.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    display: flex;
    padding: 7px;
    margin-bottom: 10px;
    position: relative;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
    cursor: pointer;
}

#immagine-base64 {
    width: 256px;
    height: auto;
    float: left;
}

.fine-card {
    position: absolute;
    bottom: 0;
    
}

.categoria {
    font-size: 14px;
    color: #471814;
    background-color: #E6b363;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}

.nomeRicetta {
    font-size: 20px;
    color: #471814;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    #immagine-base64 {
        width: 128px;
        height: 128px;
    }
    .card {
        height: auto;
        overflow: auto;
    }
    .descrizione_box {
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .nomeRicetta {
        max-width: 350px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .categoria {
        display: none;
    }
}