


<div class="container">
    <div class="personal-area">
        <div class="sidebar">
            <a routerLink="/ricette-salvate">Ricette salvate</a>
            <a routerLink="/ricette-scritte-da-te">Ricette scritte da te</a>
            <a routerLink="/invia-ricetta">Invia la tua ricetta</a>
        </div>
    <div class="personal-page">
        <div class="personal-page-up">
            <a routerLink="/ricette-salvate">
                <img src="assets/img/rocette_salvate.jpg" alt="Ricette salvate">
              </a>
              <a routerLink="/ricette-scritte-da-te">
                <img src="assets/img/ricette_scritte_da_te.jpg" alt="Riscette scritte da te ">
              </a>
        </div>
        <div class="personal-page-down">
            <a routerLink="/invia-ricetta">
                <img src="assets/img/invia_ricetta.jpg" alt="Invia la tua ricetta">
              </a>
        </div>
            
    </div>
</div>
</div>

