
<div class="container-fluid">
    <div class="personal-area">
        <div class="sidebar">
            <a routerLink="/ricette-salvate">Ricette salvate</a>
            <a routerLink="/ricette-scritte-da-te">Ricette scritte da te</a>
            <a routerLink="/invia-ricetta">Invia la tua ricetta</a>
        </div>
    <div class="personal-page">
        <div class="personal-page-up">
            <a routerLink="/ricette-salvate">
                <figure>
                    <img src="assets\img\piattiSalvati.jpeg" alt="Ricette salvate" width="250px">
                    <figcaption>Ricette salvate</figcaption>
                </figure>
              </a>
              <a routerLink="/ricette-scritte-da-te">
                <figure>
                    <img src="assets\img\ricetteScrittedaTe.jpeg" alt="Riscette scritte da te " width="250px">
                    <figcaption>Ricette scritte da te</figcaption>
                </figure>
              </a>
        </div>
        <div class="personal-page-middle">
            <a routerLink="/form-nuova-ricetta">
                <figure>
                <img src="assets\img\inviaRicetta.jpeg" alt="Invia la tua ricetta" width="250px">
                <figcaption>Invia la tua ricetta</figcaption>
            </figure>
              </a>
        </div>
        <div class="personal-page-down">
           <button routerLink="/area-moderatore">Area moderatore</button>
                
        </div>
            
    </div>
</div>
</div>

