<form (ngSubmit)="doLogin()">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" placeholder="Enter username" id="username" name="username" [formControl]="username">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" id="pwd" name="password" [formControl]="password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
  