<div class="container">
    <h2>Ricette</h2>
      <div class="card" *ngFor="let ricetta of ricette" (click)="handleCardClick(ricetta)">
        <div class="container">
          <h5 class="categoria"><b><i>{{ ricetta.categoria }}</i></b></h5>
          <h4 class="nomeRicetta">{{ ricetta.nomeRicetta }}</h4>
          <p>{{ ricetta.descrizione }}</p>
          <p class="fine-card"><b>Difficoltà:</b> {{ ricetta.difficolta }}<br><b>Tempo di preparazione: </b>{{ ricetta.tempoPreparazione }}<br> <b>Porzione per: </b>{{ ricetta.numeroPersone }}</p>
        </div>
      </div>
  </div>
