/* Stili per il menu */
.navbar {
display: flex;
align-items: center;
background-color: blanchedalmond; /* Aggiungi il colore di sfondo desiderato */
padding: 10px;
width: 100%;
margin-bottom: 0;

}

.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 5px;
  background-color: #ff8c69;
  border-radius: 5px;
  
}

.menu-list li {
 
  display: inline-block;
  margin-right: 0px;
  position: relative; /* Aggiungi questa linea per rendere relativo l'elemento padre */
  
}

.submenu {
  display: none;
  position: absolute;
  background-color: #ff8c69;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  top: 100%; /* Aggiungi questa linea per posizionare il menu a discesa sotto l'elemento padre */
  white-space: nowrap; /* Evita il riavvolgimento del testo nel menu a discesa */
  border-radius: 5px;
}

.menu-list li:hover .submenu {
  display: flex;
  flex-direction: row; /* Visualizza gli elementi del sottomenu in orizzontale */
}

/* Stili per gli elementi del menu */
.menu-list a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 20px 30px;
  font-size: 17px;
}

.menu-list li li {
  display: inline-block; /* Imposta gli elementi del sottomenu in orizzontale */
}

.menu-list li li a {
  padding: 10px 20px;
}


/* Stili per il logo */
.logo {
max-width: 100px; /* Regola la larghezza massima del logo */
margin-right: auto;

}

.center-bar {
justify-items: center;
display: flex;  
color: black;
width: 100%;
}


/* Stili per la barra di ricerca */
.search-bar {
display: flex;
align-items: center;
width: 100%;

}

.search-bar input {
padding: 10px;
margin-right: 10px; 
background-color: #ff8c699e;
width: 80%;
border-radius: 5px;
}

.search-bar button {
padding: 10px;
background-color: #ff8c69; /* Aggiungi il colore desiderato per il bottone di ricerca */
color: black; /* Aggiungi il colore desiderato per il testo del bottone di ricerca */
cursor: pointer;
border: 1px solid black;
border-radius: 5px;
}

/* Stili per il login */
.right-login {
display: flex;
align-items: center;
margin-left: auto;

}

.login-button {
padding: 10px;
background-color: #ff8c69; /* Aggiungi il colore desiderato per il bottone di login/logout */
color: black; /* Aggiungi il colore desiderato per il testo del bottone di login/logout */
border: 1px solid black;
cursor: pointer;
border-radius: 5px;
}



.row, .col-sm-6, .col-sm-3, .col-sm-8, .col-sm-1{
  display: flex;
  padding: 0;
  margin: 0;
}



.container-fluid {
  width: 100%;
  align-items: center;
  border: none; 
  padding-left: 0;
  padding-right: 0;
  
}

.contenitore{
  width: 100%;
  background-color: blanchedalmond;
  align-items: center;
  border: none; 
}

.first-row, .second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
}

.square1, .square2, .square3, .square4 {
  width: 100%; /* Modifica la larghezza a 100% */
  height: auto; /* Imposta l'altezza su automatico per mantenere l'aspetto proporzionato */

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.square1 a, .square2 a, .square3 a, .square4 a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.8); /* Testo bianco semi-trasparente */
  font-size: 28px; /* Dimensione del testo */
  font-weight: bold; /* Testo spesso */
  /*font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif; /* Font spesso */
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 2px rgb(40, 38, 38); /* Bordo del testo */
}

figcaption {
  text-align: center;
  color: black;
}

@media (min-width: 768px) { /* Regole per layout su dispositivi di dimensioni medio-grandi */
  .first-row, .second-row {
    flex-direction: row;
  }

.square1 img,
.square2 img,
.square3 img,
.square4 img {
  max-width: 100%; /* Imposta la larghezza massima dell'immagine al 100% del suo contenitore */
  height: auto; /* Imposta l'altezza su automatico per mantenere l'aspetto proporzionato */
}

  .square1, .square2, .square3, .square4 {
    width: 45%; /* Riduci leggermente la larghezza */
  }
}

@media (min-width: 992px) { /* Regole per layout su dispositivi grandi */
  .square1, .square2, .square3, .square4 {
    width: 40%; /* Riduci ulteriormente la larghezza */
  }
}

@media (min-width: 1200px) { /* Regole per layout su dispositivi extra-large */
  .square1, .square2, .square3, .square4 {
    width: 30%; /* Ulteriore riduzione della larghezza */
  }
}


@media (min-width: 768px) {
  .square1 img,
  .square2 img,
  .square3 img,
  .square4 img {
    max-width: 90%; /* Riduci leggermente la larghezza massima dell'immagine */
  }
}

/* CSS per schermi di dimensioni grandi */
@media (min-width: 992px) {
  .square1 img,
  .square2 img,
  .square3 img,
  .square4 img {
    max-width: 80%; /* Riduci ulteriormente la larghezza massima dell'immagine */
  }
}

/* CSS per schermi di dimensioni extra-large */
@media (min-width: 1200px) {
  .square1 img,
  .square2 img,
  .square3 img,
  .square4 img {
    max-width: 70%; /* Riduci ulteriormente la larghezza massima dell'immagine */
  }
}

@media screen and (max-width: 768px) {
  .square1 img,
  .square2 img,
  .square3 img,
  .square4 img {
    max-width: 80%; /* Riduci leggermente la larghezza massima dell'immagine */
  }
} 
.sidebar {
  height: 100vh;
  width: 300px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ff8c69cf;
  overflow-x:auto;
  transition: 0.5s;
  padding-top: 20px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}



.personal-area{
  display: flex;
  flex-direction: row;
}

.personal-page{
  display: flex;
  width: 70%;
  flex-direction: column;
  padding-left: 60px;
}

.personal-page-up, .personal-page-middle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  padding-top: 20px;
  
  
}

.personal-page-up a, .personal-page-middle a{
  display: flex;
  justify-content: center;
  align-items: center;
}

.personal-page-down{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 20px;
  padding-bottom: 20px;
}

.personal-page-down button{
  background-color: #ff8c69;
  font-size: 15px;
  color: black;
  border-radius: 5px;
}

.personal-page-up a{
  margin-right: 100px;
}

.form-button{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 20px;
  padding-bottom: 20px;
  
}

.form-button button{
  background-color: #ff8c69;
  font-size: 15px;
  color: black;
  border-radius: 5px;
  
}



footer{
  background: rgb(230, 212, 185);
  padding-top: 10px;
  padding-left: 0%;
  padding-right: 0%;
  
}

.contact-info{
  padding-bottom: 20px;
}

@media screen and (max-width: 700px) {
  .search-bar {
    width: 50%;
    margin-left: 30%;
  }
}