/* Stili per il menu */
.navbar {
display: flex;
align-items: center;
background-color: #a3f085; /* Aggiungi il colore di sfondo desiderato */
padding: 10px;
}

.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 5px;
  background-color: #ff8c69;
}

.menu-list li {
  display: inline-block;
  margin-right: 0px;
  position: relative; /* Aggiungi questa linea per rendere relativo l'elemento padre */
}

.submenu {
  display: none;
  position: absolute;
  background-color: #ff8c69;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  top: 100%; /* Aggiungi questa linea per posizionare il menu a discesa sotto l'elemento padre */
  white-space: nowrap; /* Evita il riavvolgimento del testo nel menu a discesa */
}

.menu-list li:hover .submenu {
  display: flex;
  flex-direction: row; /* Visualizza gli elementi del sottomenu in orizzontale */
}

/* Stili per gli elementi del menu */
.menu-list a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 20px 30px;
  font-size: 17px;
}

.menu-list li li {
  display: inline-block; /* Imposta gli elementi del sottomenu in orizzontale */
}

.menu-list li li a {
  padding: 10px 20px;
}


/* Stili per il logo */
.logo {
max-width: 100px; /* Regola la larghezza massima del logo */
margin-right: auto;
}

.center-bar {
justify-items: center;
display: flex;  
color: black;
}


/* Stili per la barra di ricerca */
.search-bar {
display: flex;
align-items: center;

}

.search-bar input {
padding: 10px;
margin-right: 10px;
width: 500px;
background-color: #ff8c699e;
}

.search-bar button {
padding: 10px;
background-color: #ff8c69; /* Aggiungi il colore desiderato per il bottone di ricerca */
color: black; /* Aggiungi il colore desiderato per il testo del bottone di ricerca */
cursor: pointer;
border: 1px solid black;
}

/* Stili per il login */
.right-login {
display: flex;
align-items: center;
margin-left: auto;
}

.login-button {
padding: 10px;
background-color: #ff8c69; /* Aggiungi il colore desiderato per il bottone di login/logout */
color: black; /* Aggiungi il colore desiderato per il testo del bottone di login/logout */
border: 1px solid black;
cursor: pointer;
}


.container{
  background-color:blanchedalmond;
}

.row, .col-sm-6, .col-sm-3{
  display: flex;
  padding: 0;
  margin: 0;
}

.first-row, .second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
  
}

.square1, .square2, .square3, .square4 {
  width: 50%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

.personal-area{
  display: flex;
}

.sidebar {
  height: 50%;
  width: 300px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ff8c69cf;
  overflow-x:auto;
  transition: 0.5s;
  padding-top: 20px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

footer{
  background: #acf085;
  padding-top: 10px;
  
}

.contact-info{
  padding-bottom: 20px;
}

.personal-page{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.personal-page-up, .personal-page-down{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  
}

.personal-page-up a{
  margin-right: 100px;
}