


<div class="container">
  <div class="first-row">
    <div class="square1">
      <a routerLink="/primi_piatti">
        <img src="assets/img/primi_piatti.jpg" alt="Primi Piatti">
      </a>
    </div> 
    <div class="square2">
      <a routerLink="/secondi_piatti">
        <img src="assets/img/secondi_piatti.jpg" alt="Secondi Piatti">
      </a>
    </div>
    </div>
    <div class="second-row">
      <div class="square3">
        <a routerLink="/contorni">
          <img src="assets/img/contorni.jpg" alt="Contorni">
        </a>
      </div>
      <div class="square4">
        <a routerLink="/dolci">
          <img src="assets/img/dolci.jpg" alt="Dolci">
        </a>
      </div>
    </div>
</div>
  
  

  
