<div class="container-fluid">
  <div class="contenitore">
  <div class="first-row">
    <div class="square1">
      <a routerLink="/ricette_categoria/Primi">
        <img src="assets/img/primi_piatti.jfif" alt="Primi Piatti">
        <div class="overlay-text">Primi Piatti</div>
      </a>
    </div> 
    <div class="square2">
      <a routerLink="/ricette_categoria/Secondi">
        <img src="assets/img/secondi_piatti.jfif" alt="Secondi Piatti">
        <div class="overlay-text">Secondi Piatti</div>
      </a>
    </div>
    </div>
    <div class="second-row">
      <div class="square3">
        <a routerLink="/ricette_categoria/Contorno">
          <img src="assets/img/contorni.jfif" alt="Contorni">
          <div class="overlay-text">Contorni</div>
        </a>
      </div>
      <div class="square4">
        <a routerLink="/ricette_categoria/Dolci">
          <img src="assets/img/dolci.jfif" alt="Dolci">
          <div class="overlay-text">Dolci</div>
        </a>
      </div>
    </div>
  </div>
</div>